.container {
	background-color: purple;
	width: 200px;
	border-left-width: 5x;
	border-left-style: solid;
	border-left-color: green;
	padding: 10px;
	
	color: white;
	font-size: 20px;
	text-decoration: underline;
}
/* Your CSS Code here. */